$global-content-max-width: 1200px;

$font-family-lato: 'Lato', sans-serif;
$font-family-maven-pro: 'Maven Pro', sans-serif;
$font-style-normal: normal;
$font-weight-medium: medium;
$font-size-35: 35px;
$line-spacing-42: 42px;

/* Colors */

$color-yellow: #FFC700;
$color-dark-gray: #262626;
$color-purple: #B33CC8;
$color-medium-gray: #B2B2B2;
$color-light-gray: #D3D3D3;
$color-date-gray: #707070;
$color-light-yellow: #FEF8E6;
$color-white: #FFFFFF;

$color-header-white: #FFFFFF;

/* BreakPoints */
$bp-s: 640px;
$bp-m: 768px;